<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional statements</title>
</head>
<body>
    <h1 style="font-size: 40px;">This is our first conditional statements</h1>

    {% if a < b %}
    <h1>{{a}}</h1>
    {% endif %}

    
    {% if b > c %}
    <h1>max is {{b}}</h1>
    {% else %}
    <h1>max is {{c}}</h1>
    {% endif %}


   <h1>if-elif </h1>
    {% if a > b and a > c %}
        <h2>if block </h2>
        <h2>a is max{{a}}</h2>
    {% elif b > c %}
        <h2>elif block </h2>
        <h2>b is max {{b}}</h2>
    {% else %}
        <h2>else block </h2>
        <h2>c is max {{c}}</h2>
    {% endif %}

    <h4><a href="{% url 'nested_if' %}" style="text-decoration: none;">click here to go to nested_if</a></h4>
</body>
</html> 