<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forloop</title>
</head>
<body>
<h1>My name is</h1>
    {% for i in name %}
    <h2><marquee>{{i}}</marquee></h2>
    {% endfor %}


<h1>my age is</h1>
    <h2>{{age}}</h2>

<h1>my hobbies are</h1>
    {% for h in hobbies %}
    <h2>{{h}}</h2>
    {% endfor %}

<h4><a href="{% url 'conditions' %}" style="text-decoration: none;">click here to go to conditional statement</a></h4>

</body>
</html>