<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nested_if</title>
</head>
<body>
    <h1 style="font-size: 40px;">This is my nested if conditional statement</h1>

    <h1>nested if </h1>

    {% if a > b %}
        {% if a > c %}
            <h1>a is max</h1>
        {% else %}
            <h1>c is max</h1>
        {% endif %}
    {% else %}
        {% if b > c %}
        <h1>b is max</h1>
        {% else %}
        <h1>c is max</h1>
        {% endif %}
    {% endif %}

<h4><a href="{% url 'forloop' %}" style="text-decoration: none;">click here to go to for loop</a></h4>

</body>
</html>